<div id="deleteClientModal" class="modal ">

    <div class="modal-content">
        <div class="modal-head">
            <h3>Delete Client</h3>
            <button class="close-btn" data-close="true"><i class="bi bi-x-lg"></i></button>
        </div>

      <div class="delete-modal">
          <h5>Are you sure you want to delete client?</h5>

        <a class="btn-standard mt-3 confirm-delete">Delete</a>
            <a class="btn-standard mt-3 cancel-delete">Cancel</a>
        </div>
    </div>
</div> 