@{
    ViewData["Title"] = "Members";
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
    <button class="btn-standard btn-add"><i class="bi bi-plus-lg"></i>Add Member</button>

    <partial name="Partials/_MemberRegistrationForm" />
</div>