@model ProjectViewModel

@{
    ViewData["Title"] = "Projects";
}

<partial name="Partials/Sections/Project/_AddProjectModal" model="Model.ProjectRegistration" /> 
<partial name="Partials/Sections/Project/_EditProjectModal" model="Model.ProjectEdit"/>
<partial name="Partials/Sections/Project/_DeleteProjectModal"/>

<section id="projects">
    <div class="page-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn-standard btn-add"><i class="bi bi-plus-lg"></i>Add Project</button>
    </div>
    <div class="project-nav">
        <a href="#"></a>
    </div>

    <div class="client-table mt-4">
        
      
        <partial name="Partials/Sections/Project/_ProjectList" model="Model.Projects" />

    </div>
</section>
