<div class="portal">

    <div class="logo">
        <a class="alpha-logo" href="#">
            <img src="images/alpha-logo.svg" alt="Logo Alpha">
            <span>alpha</span>
        </a>
    </div>

    <div class="side">
        <nav class="nav-links">
            <a class="nav-link" href="#">
                <i class="bi bi-briefcase-fill"></i>
                <span>Projects</span>
            </a>
            <a class="nav-link" href="#">
                <i class="bi bi-people-fill"></i>
                <span>Team Members</span>
            </a>
        </nav>
    </div>

    <div class="top">
        <form class="search" role="search">
            <img src="images/search-icon.svg" alt="search-icon">
            <input class="search-bar me-2" type="search" placeholder="Search anything.." aria-label="Search">
        </form>
        <div class="icon-nav">
            <div class="notification">
                <a href="#"><i class="bi bi-bell-fill"></i></a>
                </div>
            <div class="settings">
                <a href="#"><i class="bi bi-gear-fill"></i></a>
                </div>
            <div class="break">|</div>
            <div class="avatar"><a href="#"><img src="images/avatar-icon.svg" alt="profile picture"></a></div>
            <button class="btn btn-grey">Log in</button>
        </div>
    </div>
</div>
