@model MemberRegistrationViewModel



<div id="addMemberModal" class="modal member-modal">

    <div class="modal-content">
        <div class="modal-head">
            <h3>Add Member</h3>
            <button class="close-btn" data-close="true"><i class="bi bi-x-lg"></i></button>
        </div>
  
    <form asp-action="AddMember" asp-controller="Member" method="post" novalidate>


            @*  LÄGG TILL JS FÖR BILDER! *@
            <div class="image-previewer circle">
                <img src="" class="image-preview" />
                <input asp-for="Image" accept="image/*" class="hide" />
            </div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <div class="field-group">
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <div class="field-group">
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="field-group">
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone"></label>
            <div class="field-group">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="form-error"></span>
            </div>
        </div>

        <button type="submit" class="btn-submit btn-standard mt-3">Add Member</button>
         
    </form>
    </div>
</div>
