
<div id="addClientModal" class="modal client-modal">

    <div class="modal-content">
        <div class="modal-head">
            <h3>Add Client</h3>
            <button class="close-btn" data-close="true"><i class="bi bi-x-lg"></i></button>
        </div>
        <form asp-post="AddClient" asp-controller="Admin" method="post" novalidate>
            
        </form>
    </div>
</div>
