<table>
    <thead>
        <tr>
            <th class="client-check"><input type="checkbox" /></th>
            <th class="client-info">Name</th>
            <th class="client-contact">Contact Person</th>
            <th class="client-phone">Phone</th>
            <th class="client-location">Location</th>
            <th class="client-status">Status</th>
            <th class="client-actions"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="client-check"><input type="checkbox" /></td>
            <td class="client-info">
                <img class="client-img" src="~/images/Avatar-2.svg" alt="Client 1" />
                <div class="client-name">Göteborg Energi AB</div>
                <div class="client-email">test@domain.com</div>
            </td>
            <td class="client-contact">Anders Dahl</td>
            <td class="client-phone">123-456-7890</td>
            <td class="client-location">Örebro</td>
            <td class="client-status">
                <div class="badge-success">
                    active
                </div>
            </td>
            <td class="client-actions">
                <a class="btn-icons btn-edit" data-modal="true" data-target="#editClientModal"><i class="bi bi-pencil-fill"></i></a>
                <a class="btn-icons btn-delete" href="#"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
    </tbody>
</table>