@using Domain.Models
@model List<Project>

@*     //FORTSÄTT HÄR // *@

<div class="project-list">

    @foreach (var project in Model)
    {
    
        <div class="list-cards project-card">
        <div class="card-top">
            <div class="image"><img class="project-img" src="~/images/project-img.svg" alt="Project img" /></div>
            <div class="project-actions"><i class="bi bi-three-dots"></i></div>
            <div class="title">
                <h6>@project.Title</h6>
                <span class="clientName">@project.Client.ClientName</span>
            </div>
        </div>
         
         <div class="description">@project.Description</div>

        <div class="card-bottom">
            <div class="status">@project.Status.StatusName</div>
            <div class="members">members list</div>
        </div>
    </div>
    }

</div>


  