<div id="deleteProjectModal" class="modal ">

    <div class="modal-content">
        <div class="modal-head">
            <h3>Delete Client</h3>
            <button class="close-btn" data-close="true"><i class="bi bi-x-lg"></i></button>
        </div>

            <h5>Are you sure you want to delete project?</h5>

            <div class="delete-alert alert alert-danger hide" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <span class="delete-error-message"></span>
            </div>
       
            <button class="btn-standard btn-delete confirm-delete">Delete</button>
            <button class="btn-standard btn-delete cancel-delete">Cancel</button>
    </div>
</div> 


