@model MemberRegistrationViewModel


<div id="addMemberModal" class="modal member-modal">

    <div class="modal-content">
        <div class="modal-head">
            <h3>Add Member</h3>
            <button class="close-btn" data-close="true"><i class="bi bi-x-lg"></i></button>
        </div>
  
    <form asp-action="AddMember" asp-controller="Member" enctype="multipart/form-data" method="post" novalidate>

            <div class="form-group">
                <div id="upload-trigger" class="image-preview-container preview-circle">
                    <div id="image-container" class="circle-grey">

                        <i id="preview-camera" class="bi bi-camera-fill"></i>
                        <i id="preview-pencil" class="bi bi-pencil-square hide"></i>
                    </div>
                    <input id="file-upload" asp-for="MemberImage" type="file" accept="image/*" class="hide" />

                    <img id="image-preview" src="#" class="image-preview hide" />
                </div>
            </div>


            <div class="form-name-group">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <div class="field-group">
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <div class="field-group">
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
            </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="field-group">
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>

            <div class="form-group">
                <label asp-for="JobTitle"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" />
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>

        <div class="form-group">
                <label asp-for="PhoneNumber"></label>
            <div class="field-group">
                <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="form-error"></span>
            </div>
        </div>

            <div class="form-group">
                <label asp-for="Role"></label>
                <select id="projectrole" asp-for="Role" asp-items="@Model.Roles" class="form-select">
                    <option value="">Add Role</option>
                </select>
            </div>

        <button type="submit" class="btn-submit btn-standard mt-3">Add Member</button>
         
    </form>
    </div>
</div>
