
@model MemberSignInViewModel

@{
    ViewBag.Title = "Log In";
   
    Layout = "_LayoutCenter";

}

<div id="signin" class="center-screen">
    <div class="card form-card">
        <h1 class="pt-5">@ViewData["Title"]</h1>

        <button class="btn-grey mt-4 btn-google"><img src="~/images/google-icon.svg"> Login with google</button>

        <div class="separator pt-4 pb-2">
            <span>OR</span>
        </div>

        <form id="signin-form" asp-action="SignIn" asp-asp-controller="Auth" method="post" novalidate >
        
            <div class="mb-3 mt-3">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email"/>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Password"></label>
                <div class="field-group">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
           </div>
            <div class="mb-5 checkbox-signin">
                <div class="remember">
                    <input type="checkbox">
                <label class="form-check-label">Remember me</label>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div>
                    <div class="alert alert-danger" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        @ViewBag.ErrorMessage
                    </div>
                </div>
            }
           
            <button type="submit" class="btn-standard btn-submit mb-2">Log In</button>
        </form>

        <div class="mt-5">
            <span>Don't have an account?</span>
            <a href="/Auth/SignUp">Sign Up</a>
    </div>
</div>
</div>

    
