@model MemberSignInViewModel

@{
    ViewBag.Title = "Log In";
   
    Layout = "_LayoutCenter";

}

<div id="signin" class="center-screen">
    <div class="card form-card">
        <h1>@ViewData["Title"]</h1>
        <form asp-action="ExternalSignIn" asp-controller="Auth" method="post" novalidate >
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <button type="submit" name="provider" class="btn-grey mt-4 btn-google"><img src="~/images/google-icon.svg"> Login with google</button>
        </form>
        <div class="separator pt-4 pb-2">
            <span>OR</span>
        </div>

        <form id="signin-form" asp-action="SignIn" asp-controller="Auth" method="post" novalidate >
       
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email"/>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="field-group">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
           </div>

            <div class="mb-5 checkbox-signin">
                <div class="remember">
                    <input type="checkbox"/>
                <span>Remember me</span>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
            {
                
                    <div class="alert alert-danger" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        @ViewBag?.ErrorMessage
                    </div>
               
            }
           
            <button type="submit" class="btn-standard btn-submit mb-2">Log In</button>
        </form>

        <div class="modal-footer">
            <span>Don't have an account?</span>
            <a asp-controller="Auth" asp-action="SignUp">Sign Up!</a>
        </div>
</div>
</div>

    
